.cartAdd{
    position: sticky;
    height: 20%;
    background-color: white;
    padding: 0;
    margin-bottom: 10px;
}
    
  
.productContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 350px;
    height: 650px;
    border: 1px solid;
    margin-bottom: 20px;
    text-align:left;
    text-align: center;
    font-size: small;
}

img{
width: 200px;
height: 200px;
}



.headerContainer{
    position: sticky;
    height: 10%;
    background-color: white;
    padding: 0;
    margin-bottom: 10px;
}

.tituloContainer{
    display: flex;
    width: 100%;
    justify-content: center
}




